<h1>Editar Perfil</h1>

<%= form_with model: @user, url: profile_path, local: true, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :username, "Nome de usuário" %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :display_name, "Nome para exibição" %>
    <%= f.text_field :display_name %>
  </div>

  <div>
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :avatar, "Foto de perfil" %>
    <%= f.file_field :avatar %>
  </div>

  <div>
    <%= f.check_box :remove_avatar, { }, '1', '0' %>
    <%= f.label :remove_avatar, 'Remover foto de perfil' %>
  </div>

  <% if @user.avatar.attached? && @user.avatar.blob&.persisted? %>
    <div>
      <p>Pré-visualização:</p>
      <%= image_tag url_for(@user.avatar), alt: 'Avatar', style: 'max-width: 200px; max-height: 200px;' %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Salvar" %>
  </div>
<% end %>

<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>